.heading {
	color: purple;
	padding: 10;
	vertical-align: top;
}
.text-right {
	text-align: right;
	width: 200;
}
.top-grid {
	width:200;
	horizontal-align: left;
}
@import 'nativescript-theme-core/css/core.dark.css';
